# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/OSRVP-System/v16
/OSRVP-System/.vs/OSRVP-System/v16
/OSRVP-System/x64/*
/OSRVP-System/OSRVP-System/Debug
/OSRVP-System/Debug
/OSRVP-System/OSRVP-System/x64/Debug
/OSRVP-System/OSRVP-System/x64/Release
*.avi
/OSRVP-System/OSRVP-System/Calibration
/OSRVP-System/OSRVP-System/kalmanFilter.asv
/OSRVP-System/OSRVP-System/kalmanFilter.m
/OSRVP-System/OSRVP-System/rot.txt
/OSRVP-System/OSRVP-System/end.txt
*.txt
